.orders{
	height: 100vh;
	background-image: linear-gradient(transparent,silver);
	padding:80px;
	box-shadow: 5px 5px 15px #888888;
	border: 1px solid silver;
	border-radius: 5px;
	
	

}
.card{
	height:100px;
	width: 120px;
	box-shadow: 5px 15px 15px #888888;
	border: 1px solid silver;
	border-radius: 15px;
	background-image: linear-gradient(silver,lightblue);
	padding: 0 5px 0 5px;
	margin: 20px;
}
.dashboard{
	background-image:linear-gradient(
		rgba(114, 10, 10, 0.45), 
		rgba(25, 10, 100, 0.45)
		), url('/images/pexels-photo-70497.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	
}

.orderform{
   margin-left: 100px;
}
.list{
	padding-top: 50px;
	margin-top:20px;
	height:400px;
	padding-left: 50px;
	overflow-y: auto;
}
.card-heading{
	text-align: left;
	font-weight: bold;
	color: black;
}
.card-dismiss{
	text-align: right;
	color: black;
}
.card-footer{
	text-align: right;
	font-weight: bold;
	color: black;
}