.signup{
	border: 1px solid silver;
	border-radius: 5px;
	color: black;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 5px 5px 15px #888888;
}
.bg{
	background-image:linear-gradient(
		rgba(114, 10, 10, 0.45), 
		rgba(25, 10, 100, 0.45)
		), url('https://static.pexels.com/photos/70497/pexels-photo-70497.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;

}
h2{
	text-align: center;
}
.btn{
	background-image: linear-gradient(blue,lightblue);
}