.sidebar{

	height: 100vh;
	background-color: #021d44;
	
	color:white;
	padding-top: 70px;
	
}
.pic {
	background-image:linear-gradient(
      rgba(114, 10, 10, 0.45), 
      rgba(25, 10, 100, 0.45)
    ), url('https://static.pexels.com/photos/70497/pexels-photo-70497.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
color: white;
font-size: 50px;
    box-shadow: 0 0 15px 5px #414141;

}

.pic h1{
	margin-top: 150px;
	font-size: 120px;
	text-align: center;
	
}
.signin{
	align-items: center;
   justify-content: center;
	
	padding-top: 10px;
}
a{
	
	color: black;
}

.ds{
	height: 100px;
}
.company-logo{
	text-align: center;
}
.fa {
    margin-left: -12px;
    margin-right: 8px;
}