.cs{
	background-image:linear-gradient(
		rgba(114, 10, 10, 0.45), 
		rgba(25, 10, 100, 0.45)
		), url('/images/pexels-photo-70497.jpeg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100vh;
	
	display: flex;
	padding-top: 250px;
  justify-content: center;
	
}