.sidenav {
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #021d44;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 50px;
}
.icon{
	padding-top: 5px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s ease-out;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.toastr{
	width: 200px;
	height: 80px;
	position:absolute;
	color:  white;
	padding: 20px;
	border: 3px solid silver;
	top:  80px;

	border-radius: 10px;
	box-shadow: 5px 5px 5px #888888;
  right: 15px;

  transition: 2s;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}